.cards-container {
    margin-top: 40px;
    width: 80%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 15px 15px;
    grid-template-areas:
        "who-we-r share no-ads"
        "works share categories"
        "works register register";
}

.subtitle {
    margin-top: 40px;
    font-size: 40px;
    background: linear-gradient(240deg, var(--yellow) 12.16%, var(--purple) 70.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards-container div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(var(--background-light), transparent);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.works {
    grid-area: works;
}

.share {
    grid-area: share;
}

.register {
    grid-area: register;
}

.who-we-r {
    grid-area: who-we-r;
}

.no-ads {
    grid-area: no-ads;
}

.categories {
    grid-area: categories;
}

@media (max-width: 900px) {
    .cards-container {
        display: flex;
        flex-direction: column;
    }
}