header.dashboard {
    display: grid;
    place-items: center;
    padding: 20px 0px;
}

.header-dashboard-container {
    display: flex;
    width: 80%;
    max-width: 900px;
    align-items: center;
    justify-content: space-between;
}

.header-dashboard-container a {
    display: flex;
    align-items: center;
}

header.dashboard img {
    width: 90px;
}

.header-options {
    right: 15%;
    z-index: 1;
    border-radius: 10px;
    border: .1px solid var(--grey);
    padding: 20px;
}

.header-options nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header-options nav a {
    position: relative;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 20;
    transition: all .2s;
}

.header-options nav span {
    position: absolute;
    left: 637.5px;
    width: 67.71px;
    height: 34px;
    border-radius: 8px;
    transition: all .15s;
}

.header-options nav a:nth-child(1):hover~span {
    background: var(--shadow);
}

.header-options nav a:nth-child(2):hover~span {
    background: var(--shadow);
    left: 705px;
    width: 91.23px;
}

.header-options nav a:nth-child(3):hover~span {
    background: var(--shadow);
    left: 796px;
    width: 184.48px;
}

.header-options nav a:nth-child(4):hover~span {
    background: rgba(255, 0, 0, .3);
    left: 980px;
    width: 78.55px;
}