.recommendations-container {
    display: grid;
    place-items: center;
    width: 80%;
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
}

.blog-recommended {
    border: 1px solid var(--border);
    background: linear-gradient(transparent, var(--background-light));
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

@media (max-width: 900px) {
    .recommendations-container {
        display: flex;
        flex-direction: column;
    }
}